.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--graphic-section-container-padding);
  width: 100%;
  gap: var(--graphic-section-container-gap);
}

.inverse {
  flex-direction: row-reverse;
}

.background {
  background-color: var(--color-light-gray);
}

.image-container {
  max-height: 50rem;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--graphic-section-content-gap);
  width: 50%;
}

.heading {
  font-size: var(--graphic-section-content-heading-font-size);
}

.details {
  font-size: var(--graphic-section-content-details-font-size);
  opacity: var(--graphic-section-content-details-opacity);
}

@media only screen and (max-width: 62.5em) {
  .container {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 50em) {
  .container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
  }

  .image-container {
    height: 100%;
    width: auto;
  }

  .image {
    width: 100%;
    height: auto;
  }

  .content {
    width: fit-content;
    max-width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 18em) {
  .image-container {
    display: none;
  }
}
