.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100%;
  background-color: var(--color-pink);
  color: var(--color-white);
  padding: var(--get-involved-header-padding);
  border-top: var(--color-dark-pink) solid var(--get-involved-heading-division-width);
}

.heading {
  font-size: var(--get-involved-heading-font-size);
}

.subheading {
  font-size: var(--get-involved-subheading-font-size);
  opacity: var(--get-involved-subheading-opacity);
}

.button {
  justify-self: center;
  align-self: flex-start;
  margin-top: var(--get-involved-button-top-whitespace);
}

@media only screen and (max-width: 50em) {
  .button {
    align-self: center;
  }
}

@media only screen and (max-width: 25em) {
  .heading,
  .subheading {
    text-align: center;
  }

  .header {
    padding: 7rem 2rem;
  }
}
