.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100%;
  background-color: var(--color-pink);
  color: var(--color-white);
  padding: var(--resources-heading-padding);
  border-top: var(--color-dark-pink) solid var(--resources-heading-division-width);
}

.heading {
  font-size: var(--resources-heading-font-size);
}

.subheading {
  font-size: var(--resources-subheading-font-size);
  opacity: var(--resources-subheading-opacity);
}

.list-group {
  margin: 20px 5%;
  width: 90%;
  padding-left: 0;
  margin-bottom: 20px;
}

.list-group-item {
  font-family: sans-serif;
  font-size: var(--resources-list-group-item-font-size);
  margin: 10px;
  border-radius: 5px;
  position: relative;
  display: block;
  padding: 10px 15px 10px;
  margin-bottom: -1px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  line-height: 28.5667px;
  border-top-color: rgb(221, 221, 221);
  border-right-color: rgb(221, 221, 221);
  border-bottom-color: rgb(221, 221, 221);
  border-left-color: rgb(221, 221, 221);
}

/* Active item styles */
.list-group-item.active {
  background-color: var(--color-white);
  color: var(--color-gray);
  font-weight: normal;
}

/* Link styles */
.list-group-item-action {
  text-decoration: none;
  color: var(--color-gray);
}

.list-group-item-action:hover {
  background-color: var(--color-gray);
}
