.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--home-section-container-vertical-padding) 0;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: var(--home-section-support-text-block-width);
}

.underline {
  border: 100000rem solid var(--color-pink);
  border-width: var(--home-section-underline-border-width);
  max-width: var(--home-section-underline-width);
  width: 100%;
}

.heading {
  font-size: var(--home-section-heading-font-size);
  font-weight: var(--home-section-heading-font-weight);
  margin-bottom: var(--home-section-heading-whitespace);
}

.details {
  font-size: var(--home-section-details-font-size);
  line-height: var(--home-section-details-line-height);
  margin-top: var(--home-section-details-whitespace);
  color: var(--color-black);
}

.subsections {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  margin-top: var(--home-section-support-subsections-whitespace);
}

.button {
  margin-top: var(--home-section-support-subsections-whitespace);
  justify-self: flex-end;
}
