.container {
  height: var(--navbar-height);
  background-color: var(--color-pink);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--navbar-side-padding);
}

.links {
  display: flex;
  align-items: center;
  gap: var(--navbar-links-gap);
}

.link {
  color: var(--color-white);
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--navbar-link-font-size);
  font-weight: var(--navbar-link-font-weight);
  height: var(--navbar-height);
  user-select: none;
}

.link-text-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;
  padding: 0 var(--navbar-link-side-padding);
  position: relative;

  &:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: var(--navbar-link-underline-height);
    left: 50%;
    position: absolute;
    background: var(--color-white);
    transition: var(--navbar-link-transition);
    width: 0;
  }

  &:hover {
    &:after {
      width: 100%;
      left: 0;
    }
  }
}

.logo {
  height: calc(var(--navbar-height) - var(--navbar-logo-padding));
  user-select: none;
}

.toggler-icon {
  color: var(--color-light-white);
  font-size: var(--navbar-toggler-size);
}

.toggler {
  display: none;
}

@media only screen and (max-width: 63em) {
  .links {
    display: none;
  }

  .toggler {
    display: flex;
  }

  .container {
    padding: 0 2rem 0 0;
  }

  .logo {
    height: var(--navbar-height);
  }
}
