:root {
  --resources-heading-padding: 7rem 25%;
  --resources-heading-division-width: 1px;
  --resources-heading-font-size: 6.1rem;
  --resources-subheading-font-size: 2.4rem;
  --resources-subheading-opacity: 0.9;

  --resources-footer-vertical-whitespace: 6rem;
  --resources-footer-heading-font-size: 3rem;

  --resources-list-group-item-font-size: 2.2rem;
}

@media only screen and (max-width: 25em) {
  :root {
    --resources-heading-padding: 7rem 2rem;
  }
}
